// ACTIONS VARIABLES

    // BUTTONS
    $button-display: inline-block;
    $button-padding: 0;
    $button-font-family: $font-2;
    $button-text-decoration: none;
    $button-font-size: 1rem;
    $button-border: solid 3px $color-text;
    $button-min-width: 9em;
    $button-line-height: 3em;
    $button-text-align: center;
    $button-cursor: pointer;
    $button-transition: all 200ms ease-in-out;
    // BUTTONS HOVER
    $button-hover-border-color: $color-1;
    // BUTTONS I
    $button-i-padding-right: 0.5rem;

    // PRIMARY
    $primary-background-color: $color-text;
    $primary-color: $color-neutral-1;
    // PRIMARY HOVER
    $primary-hover-background-color: $color-1;
    $primary-hover-color: $color-neutral-1;

    // DEFAULT
    $default-background-color: #fff;
    $default-color: $color-text;
    // DEFAULT HOVER
    $default-hover-color: $color-1;

    // SMALL
    $small-font-size: 0.8rem;
    $small-min-width: 8em;

    // LARGE
    $large-font-size: 1.2rem;

    // FIT
    $fit-width: 100%;

    // DISABLED
    $disabled-opacity: 0.3;
    $disabled-cursor: default;

// CLASSES

.button {
    display: $button-display;
    padding: $button-padding;
    font-family: $button-font-family;
    text-decoration: $button-text-decoration;
    font-size: $button-font-size;
    border: $button-border;
    min-width: $button-min-width;
    line-height: $button-line-height;
    text-align: $button-text-align;
    cursor: $button-cursor;
    transition: $button-transition;
    i {
        padding-right: $button-i-padding-right;
    }
    &:hover {
        border-color: $button-hover-border-color;
    }
}

.primary {
    background-color: $primary-background-color;
    color: $primary-color;
    &:hover {
        background-color: $primary-hover-background-color;
        color: $primary-hover-color;
    }
}

.default {
    background-color: $default-background-color;
    color: $default-color;
    &:hover {
        color: $default-hover-color;
    }
}

.small {
    font-size: $small-font-size;
    min-width: $small-min-width;
}

.large {
    font-size: $large-font-size;
}

.btnFit {
    width: $fit-width;
}

.disabled {
    opacity: $disabled-opacity;
    cursor: $disabled-cursor;
}