// ------------------------------
// MAIN CARD
// ------------------------------

.mainCard {
    padding: 0 3rem 7rem 3rem;
    @media screen and (min-width: 768px) {
        padding: 0 7rem 7rem 7rem;
    }
    h2 {
        margin: 0 auto;
    }
    .wrapper {
        margin-bottom: 3rem;
    }
}

// ------------------------------
// CARD
// ------------------------------

.card {
    padding: 3rem 4rem;
    border-right: solid 1px $color-neutral-1;
    border-top: solid 1px $color-neutral-1;
    &.cardRight {
        border-right: 0;
    }
    &.cardBottom {
        border-bottom: solid 1px $color-neutral-1;
    }
}

// Mets de chaque coté d'un élément des barres. Un peu comme des HRs
.bars {
    display: flex;
    align-items: center;
    text-align: center;
    }
  
  .bars::before,
  .bars::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $color-neutral-1;
    }
  
  .bars::before {
    margin-right: 1rem;
    }
  
  .bars::after {
    margin-left: 1rem;
    }