// LISTS VARIABLES

    // UL
    $ul-padding: 1rem 0 1rem 1rem;

    // OL
    $ol-padding: 1rem 0 1rem 1rem;

    // LI
    $li-margin-bottom: 0.8rem;
    $li-padding-left: 0.5rem;

    // ICONS
    $icons-padding: 0;
    $icons-display: inline-block;

    // ICONS LI
    $icons-li-display: inline-block;
    $icons-li-padding: 0;
    $icons-li-margin: 0 0.5rem;

    // ICONS I
    $icons-i-padding: 0.5rem;
    $icons-i-font-size: 1.15rem;

    // ICONS ALT
    $icons-alt-padding: 0;
    $icons-alt-font-size: 1rem;
    $icons-alt-width: 2em;
    $icons-alt-line-height: 1.95rem;
    $icons-alt-border: solid 1px $color-neutral-2;
    $icons-alt-border-radius: 100%;

    // ICONS ALT :HOVER
    $icons-alt-hover-border-color: $color-1;

    // DEFINITION
    // DL
    $dl-margin-top: 0;

    // DT
    $dt-font-weight: 900;

    // DD
    $dd-margin-top: 1rem;
    $dd-margin-bottom: 2rem;
    $dd-line-height: 2.5rem;


// CLASSES

ul {
    padding: $ul-padding;
}

ol {
    padding: $ol-padding;
}

li {
    margin-bottom: $li-margin-bottom;
    padding-left: $li-padding-left;
}

.icons {
    padding: $icons-padding;
    display: $icons-display;
    li {
        display: $icons-li-display;
        padding: $icons-li-padding;
        margin: $icons-li-margin;
        i {
            padding: $icons-i-padding;
            font-size: $icons-i-font-size;
        }
    }
}

.alt {
    padding: $icons-alt-padding;
    font-size: $icons-alt-font-size;
    width: $icons-alt-width;
    line-height: $icons-alt-line-height;
    border: $icons-alt-border;
    border-radius: $icons-alt-border-radius;
    &:hover {
        border-color: $icons-alt-hover-border-color;
    }
}

dl {
    margin-top: $dl-margin-top;
}

dt {
    font-weight: $dt-font-weight;
}

dd {
    margin-top: $dd-margin-top;
    margin-bottom: $dd-margin-bottom;
    line-height: $dd-line-height;
}
