@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

// TYPOGRAPHY VARIABLES

    // PARAGRAPHES
    $font-1: 'Merriweather', serif;

    $body-font-color: $color-text;
    $body-font-size: 1.1em;
    $body-font-weight: 300;
    $body-line-height: 2.5rem;
    $p-margin: 2rem;

    // HEADERS
    $font-2: 'Source Sans Pro', Helvetica, sans-serif;

    $h1-font-color: $color-text;
    $h1-font-size: 4.5rem;
    $h1-line-height: 1;
    $h1-margin: 0 0 3rem 0;
    $h1-letter-spacing: .2rem;

    $h2-font-color: $color-text;
    $h2-font-size: 2.1rem;
    $h2-line-height: 1.5;
    $h2-margin: 0 0 1.2rem 0;
    $h2-letter-spacing: .05rem;

    $h3-font-color: $color-text;
    $h3-font-size: 1.5rem;
    $h3-line-height: 1.5;
    $h3-margin: 0 0 1.2rem 0;
    $h3-letter-spacing: .07rem;

    $h4-font-color: $color-text;
    $h4-font-size: 1.2rem;
    $h4-line-height: 1.2;
    $h4-margin: 0 0 1rem 0;
    $h4-letter-spacing: .05rem;

    $h5-font-color: $color-text;
    $h5-font-size: 1.1rem;
    $h5-line-height: 1.2;
    $h5-margin: 0 0 1rem 0;
    $h5-letter-spacing: .05rem;

    $h6-font-color: $color-text;
    $h6-font-size: 1rem;
    $h6-line-height: 1.2;
    $h6-margin: 0 0 1rem 0;
    $h6-letter-spacing: .05rem;

    // LINKS
    $link-color: $color-text;
    $link-decoration: underline dotted;
    $link-transition: all 200ms ease-in-out;
    
    // LINKS HOVER
    $link-hover-color: $color-1;
    $link-hover-decoration: none;

    // LINKS IN TITLE
    $h-a-text-decoration: none;

    // CODE
    $code-color: $color-text;
    $code-background: $color-neutral-1;
    $code-padding: .3em;
    $code-border: 1.5px solid $color-neutral-3;

    // BLOCKQUOTE
    $blockquote-margin-left: 0;
    $blockquote-padding: 0.7rem 0 0.7rem 2rem;
    $blockquote-border-left: solid 5px $color-neutral-1;
    $blockquote-line-height: 2.5rem;
    $blockquote-font-style: italic;
    $blockquote-font-size: 1rem;

    // BOX
    $box-border: solid 1px $color-neutral-1;
    $box-padding: 1.5rem;

    // PREFORMATTED
    $pre-margin: 0 0 2rem 0;
    $pre-color: $color-text;
    $pre-background: $color-neutral-1;
    $pre-border: 1.5px solid $color-neutral-3;
    $pre-line-height: 1.5rem;
    $pre-padding: 1rem 1.5rem;

    // HR
    $hr-height: 1px;
    $hr-color: $color-neutral-1;
    $hr-margin: 3rem 0;
    $hr-border: none;

    // SUBTITLE
    $sub2-font-size: 1.15rem;
    $sub2-margin-bottom: 2.5rem;
    $sub2-font-style: italic;

    $sub3-font-size: 1.05rem;
    $sub3-margin-bottom: 2.5rem;
    $sub3-font-style: italic;

    $sub4-font-size: 0.95rem;
    $sub4-margin-bottom: 2.5rem;
    $sub4-font-style: italic;
    


// DEFAULT SPECIFICATIONS

body, .default {
    font-family: $font-1;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    color: $body-font-color;
}

p {
    margin-bottom: $p-margin;
}

a, .link {
    color: $link-color;
    text-decoration: $link-decoration;
    transition: $link-transition;
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

code, .code {
    color: $code-color;
    background: $code-background;
    padding: $code-padding;
    border: $code-border;
}

blockquote, .blockquote {
    margin-left: $blockquote-margin-left;
    padding: $blockquote-padding;
    border-left: $blockquote-border-left;
    line-height: $blockquote-line-height;
    font-style: $blockquote-font-style;
    font-size: $blockquote-font-size;
}

.box {
    border: $box-border;
    padding: $box-padding;
}

pre {
    margin: $pre-margin;
    color: $pre-color;
    background: $pre-background;
    padding: $pre-padding;
    border: $pre-border;
    line-height: $pre-line-height;
}

hr, .hr {
    height: $hr-height;
    background: $hr-color;
    border: $hr-border;
    margin: $hr-margin;
}

h1, .h1 {
    font-family: $font-2;
    color: $h1-font-color;
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    margin: $h1-margin;
    letter-spacing: $h1-letter-spacing;
}

h2, .h2 {
    font-family: $font-2;
    color: $h2-font-color;
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    margin: $h2-margin;
    letter-spacing: $h2-letter-spacing;
}

h3, .h3 {
    font-family: $font-2;
    color: $h3-font-color;
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    margin: $h3-margin;
    letter-spacing: $h3-letter-spacing;
}

h4, .h4 {
    font-family: $font-2;
    color: $h4-font-color;
    font-size: $h4-font-size;
    line-height: $h4-line-height;
    margin: $h4-margin;
    letter-spacing: $h4-letter-spacing;
}

h5, .h5 {
    font-family: $font-2;
    color: $h5-font-color;
    font-size: $h5-font-size;
    line-height: $h5-line-height;
    margin: $h5-margin;
    letter-spacing: $h5-letter-spacing;
}

h6, .h6 {
    font-family: $font-2;
    color: $h6-font-color;
    font-size: $h6-font-size;
    line-height: $h6-line-height;
    margin: $h6-margin;
    letter-spacing: $h6-letter-spacing;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    a {
        text-decoration: $h-a-text-decoration;
    }
}

.sub2 {
    font-style: $sub2-font-style;
    font-size: $sub2-font-size;
    margin-bottom: $sub2-margin-bottom;
}

.sub3 {
    font-style: $sub3-font-style;
    font-size: $sub3-font-size;
    margin-bottom: $sub3-margin-bottom;
}

.sub4 {
    font-style: $sub4-font-style;
    font-size: $sub4-font-size;
    margin-bottom: $sub4-margin-bottom;
}