@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

// TYPOGRAPHY VARIABLES

    // PARAGRAPHES
    $font-1: 'Merriweather', serif;

    $font-color-default: $color-text;
    $font-size-default: 1.1em;
    $font-weight-default: 300;
    $line-height-default: 2.5rem;
    $margin-p: 2rem;

    // HEADERS
    $font-2: 'Source Sans Pro', Helvetica, sans-serif;

    $font-color-h1: $color-text;
    $font-size-h1: 4.5rem;
    $line-height-h1: 1;
    $margin-h1: 0 0 3rem 0;
    $letter-spacing-h1: .2rem;

    $font-color-h2: $color-text;
    $font-size-h2: 2.1rem;
    $line-height-h2: 1.5;
    $margin-h2: 0 0 1.2rem 0;
    $letter-spacing-h2: .05rem;

    $font-color-h3: $color-text;
    $font-size-h3: 1.5rem;
    $line-height-h3: 1.5;
    $margin-h3: 0 0 1.2rem 0;
    $letter-spacing-h3: .07rem;

    $font-color-h4: $color-text;
    $font-size-h4: 1.2rem;
    $line-height-h4: 1.2;
    $margin-h4: 0 0 1rem 0;
    $letter-spacing-h4: .05rem;

    $font-color-h5: $color-text;
    $font-size-h5: 1.1rem;
    $line-height-h5: 1.2;
    $margin-h5: 0 0 1rem 0;
    $letter-spacing-h5: .05rem;

    $font-color-h6: $color-text;
    $font-size-h6: 1rem;
    $line-height-h6: 1.2;
    $margin-h6: 0 0 1rem 0;
    $letter-spacing-h6: .05rem;

    // LINKS
    $link-color: $color-text;
    $link-decoration: underline dotted;
    
    $link-hover-color: $color-text;
    $link-hover-decoration: none;

    // CODE
    $code-color: $color-text;
    $code-background: $color-neutral-1;
    $code-padding: .3em;
    $code-border: 1.5px solid $color-neutral-3;

    // HR
    $hr-height: 1px;
    $hr-color: $color-neutral-1;
    $hr-margin: 3rem 0;

    // SUBTITLE
    $font-size-sub2: 1.15rem;
    $margin-bottom-sub2: 2.5rem;

    $font-size-sub3: 1.05rem;
    $margin-bottom-sub3: 2.5rem;

    $font-size-sub4: 0.95rem;
    $margin-bottom-sub4: 2.5rem;
    


// DEFAULT SPECIFICATIONS

body, .default {
    font-family: $font-1;
    font-size: $font-size-default;
    font-weight: $font-weight-default;
    line-height: $line-height-default;
    color: $font-color-default;
}

p {
    margin-bottom: $margin-p;
}

a, .link {
    color: $link-color;
    text-decoration: $link-decoration;
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

code, .code {
    color: $code-color;
    background: $code-background;
    padding: $code-padding;
    border: $code-border;
}

blockquote, .blockquote {
    margin-left: 0;
    padding: 0.7rem 0 0.7rem 2rem;
    border-left: solid 5px $color-neutral-1;
    line-height: 2.5rem;
    font-style: italic;
    font-size: 1rem;
}

hr, .hr {
    height: $hr-height;
    background: $hr-color;
    border: none;
    margin: $hr-margin;
}

h1, .h1 {
    font-family: $font-2;
    color: $font-color-h1;
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    margin: $margin-h1;
    letter-spacing: $letter-spacing-h1;
}

h2, .h2 {
    font-family: $font-2;
    color: $font-color-h2;
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    margin: $margin-h2;
    letter-spacing: $letter-spacing-h2;
}

h3, .h3 {
    font-family: $font-2;
    color: $font-color-h3;
    font-size: $font-size-h3;
    line-height: $line-height-h3;
    margin: $margin-h3;
    letter-spacing: $letter-spacing-h3;
}

h4, .h4 {
    font-family: $font-2;
    color: $font-color-h4;
    font-size: $font-size-h4;
    line-height: $line-height-h4;
    margin: $margin-h4;
    letter-spacing: $letter-spacing-h4;
}

h5, .h5 {
    font-family: $font-2;
    color: $font-color-h5;
    font-size: $font-size-h5;
    line-height: $line-height-h5;
    margin: $margin-h5;
    letter-spacing: $letter-spacing-h5;
}

h6, .h6 {
    font-family: $font-2;
    color: $font-color-h6;
    font-size: $font-size-h6;
    line-height: $line-height-h6;
    margin: $margin-h6;
    letter-spacing: $letter-spacing-h6;
}

.sub2 {
    font-style: italic;
    font-size: $font-size-sub2;
    margin-bottom: $margin-bottom-sub2;
}

.sub3 {
    font-style: italic;
    font-size: $font-size-sub3;
    margin-bottom: $margin-bottom-sub3;
}

.sub4 {
    font-style: italic;
    font-size: $font-size-sub4;
    margin-bottom: $margin-bottom-sub4;
}