@import './INTENSIV_CSS/index.scss';

body {
    background: radial-gradient(circle at top, $color-2, $color-text 50rem);
}

// ------------------------------
// MAIN HEADER
// ------------------------------
.main-header {
    margin: 0;
    .header1 {
        padding-top: 5rem;
        .title1 {
            color: #fff;
            font-size: 5rem;
            margin: 0 auto;
            padding: 0.5rem 0;
            letter-spacing: 0.1rem;
            line-height: 5rem;
        }
    }
    .header2 {
        padding-bottom: 5rem;
        .title1 {
            color: #fff;
            font-size: 2.5rem;
            border: #fff solid 0.3rem;
            max-width: 16rem;
            margin: 0 auto;
            padding: 0.5rem 0;
            letter-spacing: 0.1rem;
        }
    }
    p {
        color: #fff;
        font-style: italic;
        a {
            color: #fff;
        }
        .alt {
            font-size: 1.5rem;
            border: solid 4px #fff;
            width: 4.5rem;
            line-height: 4rem !important;
        }
    }
}

.main-header-alt {
    margin: 5rem 0;
    .title1 {
        color: #fff;
        font-size: 2.5rem;
        border: #fff solid 0.3rem;
        max-width: 16rem;
        margin: 0 auto;
        padding: 0.5rem 0;
        letter-spacing: 0.1rem;
    }
}

// Les propriétés suivantes sont utilisées pour gérer le changement entre les deux titres de la page index.html
.header1, .header2 {
    transition: all 500ms cubic-bezier(.17,.67,.83,.67);
    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
}

.header1 {
    &.hidden {
        padding-bottom: 4rem;
        padding-top: 1rem;
    }
}

.header2 {
    &.hidden {
        padding-bottom: 1rem;
        padding-top: 4rem;
    }
}

// ------------------------------
// MAIN CONTENT
// ------------------------------

.main-content {
    background: #fff;
    padding: 3rem 0;
    @media screen and (min-width: 768px) {
        padding: 5rem 0;
    }
    &.grid-no-gap {
        gap: 0 0;
    }
}

// Main Content de la page Elements.html
.main-content-element {
    background: #fff;
    padding: 3rem;
    @media screen and (min-width: 768px) {
        padding: 7rem;
    }
    .actionDemo {
        margin: 0 0 2em 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0;
            &.dBlock {
                display: block;
            }
            
        }
    }
    .stackedH {
        width: 100%;
        li {
            padding: 0 0 0 0.5rem;
            @media screen and (min-width: 768px) {
                padding: 0 0 0 1rem;
            }
        }
        li:first-child {
            padding: 0;
        }
    }
    .stackedV {
        li {
            padding: 1rem 0 0 0;
        }
        li:first-child {
            padding: 0;
        }
    }
}