@import './INTENSIV_CSS/index.scss';

body {
    background: radial-gradient(circle at top, $color-text, $color-2 50%);
}

// ------------------------------
// MAIN HEADER
// ------------------------------
.main-header {
    margin: 5rem 0;
    &__title1 {
        color: #fff;
        border: #fff solid 2px;
    }
}

// ------------------------------
// MAIN CONTENT
// ------------------------------
.main-content {
    background: #fff;
    padding: 2em;
    border-radius: $border-radius-default;
}

// ------------------------------
// MAIN FOOTER
// ------------------------------
.main-footer {

}