@import './INTENSIV_CSS/index.scss';

body {
    background: radial-gradient(circle at top, $color-2, $color-text 10%);
}

// ------------------------------
// MAIN HEADER
// ------------------------------
.main-header {
    margin: 5rem 0;
    &__title1 {
        color: #fff;
        font-size: 2.5rem;
        border: #fff solid 0.3rem;
        max-width: 25%;
        margin: 0 auto;
        padding: 0.5rem 0;
        letter-spacing: 0.1rem;
    }
}

// ------------------------------
// MAIN CONTENT
// ------------------------------
.main-content {
    background: #fff;
    padding: 7rem;
    .actionDemo {
        margin: 0 0 2em 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0;
            &.dBlock {
                display: block;
            }
            
        }
    }
    .stackedH {
        li {
            padding: 0 0 0 1rem;
        }
        li:first-child {
            padding: 0;
        }
    }
    .stackedV {
        li {
            padding: 1rem 0 0 0;
        }
        li:first-child {
            padding: 0;
        }
    }
}

// ------------------------------
// MAIN FOOTER
// ------------------------------
.main-footer {

}